

.modal-container { 
   background-color: rgba(0,0,0,0.6);
   top:0; 
   position: fixed; 
   left:0; 
   right: 0 ; 
   bottom: 0 ; 

}

.main-modal {
    position: absolute;
    background-color: #fff;
    max-width: 400px;
    width: 400px ;
    top:50%; 
    left:50%; 
    transform: translate(-50%, -50%);
}


#form .form-input {
          width: 100%; 
          padding: 8px;                                                                                                                                                                                                                                                                                                                                                                                                    
}

